<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/categories.css" />
</head>
<body>
    <div class="container align-items-center justify-content-center">
        <div class="row align-items-center justify-content-center">
            <a href="/Products/Index">Categories</a>
        </div>
        <div class="row align-items-center justify-content-center">
            <h1>Find the best idea in your branch</h1>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5" id="tab">
                <div class="row" id="gray">
                    &nbsp; Aardappel, Groente, Fruit
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row">
                    &nbsp; Kant-en-Klaar, Salades
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row" id="gray">
                    &nbsp; Vlees, Kip, Vis, Vega
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row">
                    &nbsp; Kaas, Vleeswaren, Delicatessen
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row" id="gray">
                    &nbsp; Zuivel, Eieren
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row">
                    &nbsp; Bakkerij
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row" id="gray">
                    &nbsp; Ontbijtgranen, Broodbeleg, Tussendoor
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
            </div>
            <div class="col-md-5" id="tab">
                <div class="row" id="gray">
                    &nbsp; Frisdrank, Sappen, Koffie, Thee
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row">
                    &nbsp; Bier, Sterke drank, Apperatieven
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row" id="gray">
                    &nbsp; Pasta, Rijst, internationale keuken
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row">
                    &nbsp; Soepen, Conserven, Sauzen, Smaakmakers
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row" id="gray">
                    &nbsp; Snoep, Koek, Chips
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row">
                    &nbsp; Diepvries
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
                <div class="row" id="gray">
                    &nbsp; Bewuste voeding
                    <a href="/Products/Index" id="C_arrow">
                        <img src="http://placekitten.com/23/23" alt="arrow">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>