@model PageContent
<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <a id="smallFont" href="/Products/Index">Products, </a>
        <a id="smallFont" href="/Recipes/Index">Recipes, </a>
        <a id="smallFont" href="/Recepten/Index">Inspiration </a>
    </div>
    <div class="row align-items-center justify-content-center">
        <h2>@Model.Texts[0]</h2>
    </div>
    @{
        List<int> lijst = new List<int>
{
1,2,3,4,5,6,7,8
};
    }

    <div class="spotlight_bigscreen">

        @for (int x = 0; x < lijst.Count(); x = x + 4)
        {
            <div class="row">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="col-md-3">
                        <partial name="_Catalog2" />
                    </div>
                };

            </div>
        };
    </div>

    <div class="spotlight_smallscreen">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <partial name="_Catalog2" />
                </div>
                <div class="carousel-item">
                    <partial name="_Catalog2" />
                </div>
                <div class="carousel-item">
                    <partial name="_Catalog2" />
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>



