<div class="container-fluid">
    <div class="row align-items-center; justify-content-center;">
        <a id="smallFont" href="/Products/Index">Products, </a>
        <a id="smallFont" href="/Recipes/Index">Recipes, </a>
        <a id="smallFont" href="/Recepten/Index">Inspiration </a>
    </div>
    <div class="row align-items-center; justify-content-center">
        <h2> In the spotlight </h2>
    </div>
    @{
        List<int> lijst = new List<int>
{
1,2,3,4,5,6,7,8
};
    }

    <div class="spotlight_bigscreen">

        @for (int x = 0; x < lijst.Count(); x = x + 4)
        {
            <div class="row">
                @for (int i = 0; i < 4; i++)
                {
                    <div class="col-md-3">
                        <partial name="_Catalog2" />
                    </div>
                };

            </div>
        };
    </div>


    <div class="spotlight_smallscreen">

</div>


