<div class="container-fluid">
    <div class="row align-items-center; justify-content-center;">
        <a id="smallFont" href="/Products/Index">Products, </a>
        <a id="smallFont" href="/Recipes/Index">Recipes, </a>
        <a id="smallFont" href="/Recepten/Index">Inspiration </a>
    </div>
    <div class="row align-items-center; justify-content-center">
        <h2> In the spotlight </h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/Products/Index">
                    <img src="http://placekitten.com/200/100" alt="Allspice ground" id="responsive">
                    <div class="text-block">
                        <p>Product</p>
                    </div>
                    <div class="caption">
                        <p id="title"> Allspice ground</p>
                        <p id="subtitle"> Spices & Herbs </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/News/Index">
                    <img src="http://placekitten.com/200/100" alt="Bio marinades" id="responsive">
                    <div class="text-block">
                        <p>Story</p>
                    </div>
                    <div class="caption">
                        <p id="title">"Bio marinades: honest & sustainable" </p>
                        <p id="subtitle"> Trend </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/Recipes/Index">
                    <img src="http://placekitten.com/200/100" alt="African Farmer Sausages" id="responsive">
                    <div class="text-block">
                        <p>Recipe</p>
                    </div>
                    <div class="caption">
                        <p id="title">African Farmer Sausages</p>
                        <p id="subtitle"> Meat</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/Recipes/Index">
                    <img src="http://placekitten.com/200/100" alt="African Farmer Sausages" id="responsive">
                    <div class="text-block">
                        <p>Recipe</p>
                    </div>
                    <div class="caption">
                        <p id="title">African Farmer Sausages</p>
                        <p id="subtitle"> Meat</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/Products/Index">
                    <img src="http://placekitten.com/200/100" alt="Beakers" id="responsive">
                    <div class="text-block">
                        <p>packaging</p>
                    </div>
                    <div class="caption">
                        <p id="title">Beakers</p>
                        <p id="subtitle"> Subtitle or category</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/Products/Index">
                    <img src="http://placekitten.com/200/100" alt="Cutter bags" id="responsive">
                    <div class="text-block">
                        <p>packaging</p>
                    </div>
                    <div class="caption">
                        <p id="title">Cutter bags</p>
                        <p id="subtitle"> Subtitle or category</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/News/Index">
                    <img src="http://placekitten.com/200/100" alt="Enjoy the burgundy trends" id="responsive">
                    <div class="text-block">
                        <p>Blog</p>
                    </div>
                    <div class="caption">
                        <p id="title">Enjoy the burgundy trends of 2018</p>
                        <p id="subtitle"> trend </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="Products/Index">
                    <img src="http://placekitten.com/200/100" alt="Beakers" id="responsive">
                    <div class="text-block">
                        <p>packaging</p>
                    </div>
                    <div class="caption">
                        <p id="title">Beakers</p>
                        <p id="subtitle"> Subtitle or category</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

