@model PageContent
<div class="BufferAllPartialViews">
    <partial name="_Anecdote" model="@Model.Pages[0]" />
</div>
<div class="BufferAllPartialViews">
    <partial name="_Themes" model="@ViewBag.Themes" />
</div>

@{List<Branch_Category> Branches = ViewBag.Branches as List<Branch_Category>; }
<div class="BufferAllPartialViews">
    <partial name="_Categorie" model="Branches" />
</div>

<div class="BufferAllPartialViews">
    <partial name="_Spotlight" model="Model.Pages[1]" />
</div>



