<partial name="_Header" />
<div class="row">
    <div class="col-md-9">
        text
    </div>
    <div class="col-md-9">
        <img src="~/images/text" />
    </div>
</div>
<partial name="_Themes" />
<partial name="_Categorie" />
<partial name="_Spotlight" />
<partial name="_Footer" />

