@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" >
    <h1>Create</h1>
    <form asp-action="Create" method="post">
        PhotoID:<input type="number" name="PhotoID" />
        ArticleNumber:<input type="number" name="ArtNR" />
        <input type="submit" value="Submit" />
    </form>
</div>