@model List<Product_Photo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<a asp-action="Create">Create</a>

@foreach (Product_Photo P in Model)
{
    <div class="row Admin_Flex">
        <form asp-action="Edit" method="get">
            <input type="hidden" name="PhotoID" value="@P.PhotoID" />
            <input type="hidden" name="ArtNR" value="@P.ArticleNumber" />
            <input type="submit" value="Edit" />
        </form>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="PhotoID" value="@P.PhotoID" />
            <input type="hidden" name="ArtNR" value="@P.ArticleNumber" />
            <input type="submit" value="Delete" />
        </form>
        <div>
            | ArticleNumber:@P.ArticleNumber | PhotoID:@P.PhotoID
        </div>
    </div>

}
