@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h1>Create</h1>
    <form asp-action="Create" method="post">
        TypeID:<input type="number" name="TypeID" />
        RecipeID:<input type="number" name="RecipeID" />
        <input type="submit" value="Submit" />
    </form>
</div>
