a {
    color: white;
}

    a:hover {
        color: white;
    }

.footer_container {
    font-family: 'Avenir LT Std 35 Light';
    font-size: 16pt;
    text-align: center;
}

.certificates_row {
    background-color: #536B63;
    color: white;
    padding-bottom: 15%;
    padding-top: 1%;
    min-height: 250px;
    max-height: 250px;
}

.contact_row {
    background-color: #89A99F;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
    color: white;
    margin: auto;
    text-align: left;
}

.company_row {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 200px;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    flex-flow: wrap;
    width: 80px;
    height: 80px;
}

.short {
    display: none;
}

#footer_title {
    opacity: 0.5;
}

.socialmedia{
    margin-top: 50px;
}

#downloadButton {
    width: 80px;
    height: 80px;
}

    #downloadButton:hover {
        background-color: #89A99F;
        opacity: 0.5;
    }

#logo-copyright {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#logo-Verstegen {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#copyright {
    font-size: 8pt;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex-flow: wrap column;
    vertical-align: middle;
    margin-left: 5%;
    color: #848484;
}

#slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-flow: wrap column;
    color: #007A51;
    font-size: 20pt;
    font-family: 'La Belle Aurore', cursive;
}


#submit-button {
    background-color: #CD0B35;
    color: white;
    border-radius: 10%;
}

#email_input {
    font-size: 12pt;
    height: 35px;
    width: 180px;
}

@media (max-width: 760px) {
    .logo {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        position: relative;
        margin-top: 5%;
    }

    .certificate_button {
        display: none;
    }

    .full {
        display: none;
    }

    .short {
        display: inline-block;
    }

    #logo-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #logo-Verstegen {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #copyright {
        width: 35%;
        position: relative;
        align-items: flex-start;
        font-size: 10pt;
    }

    #slogan {
        margin-top: 5%;
    }

    .socialmedia {
        margin:15%;
        
    }
    
}
