.grayrow{
	background-color: #ECECE6;
}

#inspectimage{
	margin: 2%;
    margin-bottom: 5%;
    margin-top:5%;
    max-height: 80px;
    max-width:80px;
}

.inspectimg{
    min-height:420px;
    max-height:425px;
    min-width: 420px;
    max-width: 425px;
}