.menu_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0%;
    left: 0%;
    color: white;
    background-color: #930D2A;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 9999;
}

.FI_CloseButton{
    margin-top: 2%;
    min-width: 100%;
}

.linkButton {
    background-color: #930D2A;
    padding: 7px;
    font-size: 16pt;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.linkButton :hover, .linkButton:focus {
        background-color: white;
        color: #930D2A;
        padding: 10px;
    }

.menuLinks{
    font-size: 18pt;
}

.ls{
    margin-right: 4%;
    margin-top: 4%;
    cursor: pointer;
}

.menuLogoColor{
    color: white;
    background-color: #CD0B35;
}

.menuText{
    width: 40px;
}

.menuHamburger{
    padding-left: 0px;
    padding-right: 10px;
    max-width: 25px;
}

.menuName {
    padding-left: 0px;
    padding-right: 0px;
}

#foodIndustry {
    cursor: pointer;
}



#menu_exit_js {
    margin-left: 60%;
    width: 50px;
    cursor: pointer;
}

#menu_js {
    display: none;
}

@media screen and (min-width: 576px) {
    .menu_layout {
        position: relative;
        min-height: 0%;
        min-width: 0%;
        overflow: visible;
    }

    .menu_desktop_position {
        margin-right: 0px;
        padding-right: 0px;
    }

    .menu_desktop_above{
        position: absolute;
    }

    .menuText{
        width: 100px;
    }

}
