.img_space{
    min-height: 500px;
}

.title_space{
    margin-bottom: 10%;
}

.headerarrow {
    display: flex;
    justify-content: flex-end;
}

.header_menu_background {
    background-color: rgba(132, 132, 132, 0.5);
}

.header_button{
    padding-left: 0px;
    padding-right: 0px;
}

.language_search{
    justify-content: flex-end;
}

#header_industry_btn {
    background-color: rgba(132, 132, 132, 0);
}

#titlelogo {
    top: 10%;
    left: 2%;
    position: absolute;
    max-width: 18%;
}

#quickmenu {
    top: 10%;
    right: 5%;
    position: absolute;
    color: white;
}

#headerBackgroundImageLayout {
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: gray;
    height: 100%;
}

#bottomrow{
	text-align: center;
	font-size: 80px;
	font-weight: bolder;
	color: white;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    .img_space {
        min-height: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .img_space {
        min-height: 200px;
        max-height: 200px;
    }

    #bottomrow{
        font-size: 30px;
    }
}




