.align-right{
	display: flex;
	justify-content: flex-end;
}

.wrapper{
	position: absolute;
	display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 0px;
    padding-left: 75%;
}

#buttonsize{
	background: transparent;
	width: 35px;
	height: 35px;
	margin-top: 1px;
	border-radius: 50%
}

.search{
	display: flex;
	width: 25px;
	height: 25px;
	border-radius: 50%
}


.searchbtn{
	position: absolute;
	cursor: pointer;
}

.img_space{
    min-height: 500px;
}

.title_space{
    margin-bottom: 10%;
}

.headerarrow {
    /*right: 0px;
    position: absolute;
    bottom: 2%;*/
    display: flex;
    justify-content: flex-end;
}

#titlelogo {
    top: 10%;
    left: 2%;
    position: absolute;
    max-width: 18%;
}

#quickmenu {
    top: 10%;
    right: 5%;
    position: absolute;
    color: white;
}

#QuickMenuBottom {
    margin-right: 2%;
}

#backgroundimage{
	margin: auto;
	background-image: url("images/spareribs.jpg");
	background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
	background-color: red;
	height: 100%;
}

#bottomrow{
	text-align: center;
	font-size: 80px;
	font-weight: bolder;
	color: white;
}

#languages{
	display: flex;
	color:white;
	margin-right: 5px;	
	margin-top: 5px;

}

#languages:hover{
	color: grey;
}
#foreground{
	background-color: rgba(0,0,0,0.4);
	opacity: 0.5;
	filter: none;
	color: white;
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
    .img_space {
        min-height: 400px;
        max-height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .img_space {
        min-height: 200px;
        max-height: 200px;
    }

    #bottomrow{
        font-size: 30px;
    }
}




