
@{
    string image = "~/images/product.png";
    string link = "../Products/Index";
    string text_block = "product";
    string title = "Allspice ground";
    string subtitle = "Spices & Herbs";
}

<div class="thumbnail">
    <a href="@link">
        <img src="~/images/recipes.jpg" alt="Allspice ground" id="responsive">
        <div class="text-block">
            <p>@text_block</p>
        </div>
        <div class="spotlight_caption">
            <p id="spotlight_title"> @title</p>
            <p id="subtitle"> @subtitle </p>
        </div>
    </a>
</div>