@model Product
@{string s = "../Products/SpecificProduct/" + Model.ArticleNumber;}
@{string p = "/images/product.png";}
<div class="thumbnail">
    <a href="@s">
        <img src='@p' alt="product" id="responsive" />
        <div class="spotlight_caption">
            <p id="spotlight_title"> @Model.Name </p>
            <p id="subtitle"> @Model.Description </p>
        </div>
    </a>
</div>