
@{
    string image = "~/images/product.png";
    string link = "../Products/Product";
    string title = "Allspice ground";
    string subtitle = "Spices & Herbs";
}


            <div class="thumbnail">
                <a href="@link">
                    <img src="~/images/product.png" alt="product" id="responsive">
                    <div class="spotlight_caption">
                        <p id="spotlight_title"> @title </p>
                        <p id="subtitle"> @subtitle </p>
                    </div>
                </a>
        </div>
 
