@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="container" id="cookieConsent">
        <div class="modal fade" id="cookies" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Privacy and Cookies</h4>
                    </div>
                    <div class="modal-body">
                        <p>This website uses cookies. But we only use it to make this website functional.</p>
                        <p>We do not collect any private data.</p>
                        <p>Except your email if you want to have a weekly news update from our company.</p>
                        <p>You must accept this because without cookies it is impossible to use this website.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-cookie-string="@cookieString" data-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}