<div class="container-fluid" id="headerBackgroundImageLayout" style="
        background-image: url(@ViewData["HeaderBackgroundImg"]);
     @{/*/images/spareribs.jpg*/ }
    ">

    <img id="titlelogo" src="~/images/verstegenLogo.png" alt="logo">

    <div id="menu_js">
        <div id="menu_content_js">
            <div class="menu_layout container">
                <div class="row">test</div>
                <div class="d-none d-sm-block">

                </div>
            </div>
        </div>
    </div>

    <div id="quickmenu">
        <div class="container">
            <div class="container">
                <div class="row header_menu_background">
                    <div class="col-sm-6 col-md-6 d-none d-sm-block header_button">
                        <button type="button" class="btn" id="header_industry_btn">
                            test
                        </button>
                    </div>
                    <div class="col-sm-6 col-md-6 header_button">
                        <button type="button" class="btn" id="menu_button_js">
                            test
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>test</div>
                <div>test</div>
                <div>test</div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row img_space"></div>
        <div class="row title_space">
            <div class="col-12 col-md-12">
                <h1 id="bottomrow">Enjoy great taste!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 headerarrow">
                <img src="http://placehold.it/59x51" alt="headerarrow">
            </div>
        </div>
    </div>
</div>