@{ if (ViewBag.ShowHeaderImg == null)
    {
        ViewBag.ShowHeaderImg = true;
    }
    if (ViewBag.ShowHeaderImg == false)
    {
        ViewData["HeaderBackgroundImg"] = null;
    }
}

<div class="container-fluid" id="headerBackgroundImageLayout" style="
         background-image: url(@ViewData["HeaderBackgroundImg"]);
     ">

    <div id="search_content_js">
        <form action="/Search" method="get">
            <input type="text" name="q" id="searchBox" class="searchSolidGrayBorderWhiteContent searchbox_input" placeholder="KeyWord">
            <input type="submit" value="&#128270;" class="searchSolidGrayBorderWhiteContent">
        </form>
    </div>

    <img id="titlelogo" src="~/images/verstegenLogo.png" alt="logo">
    <div class="container-fluid menu_desktop_position menu_desktop_above">
        <div class="row menuInScreen">
            <div class="col-md-6 col-sm-6 d-none d-sm-block"></div>
            <div id="menu_js" class="col-md-6 col-sm-6 col-12 menu_desktop_position">
                <div class="menu_Desktop_graphics_right"></div>
                <div id="menu_content_js">

                    <!--Define menu content-->
                    <div class="menu_layout container">
                        <div class="row FI_CloseButton">
                            <div id="foodIndustry" class="col-md-6 col-sm-6 col-6">
                                <div class=" d-block d-sm-none"><a href='/Products'> Products </a></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <img id="menu_exitMobile_js" class="d-block d-sm-none" src="~/images/CloseMenu.png" alt="Close menu" />
                                <img id="menu_exitDesktop_js" class="d-none d-sm-block d-md-block d-lg-block d-xl-block" src="~/images/CloseMenuDesktop.png" alt="Close menu" />
                            </div>
                            <div class="d-none d-sm-block">
                            </div>
                        </div>
                        <br />
                        <div class="menuLinks container">
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/Home'">Home</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/HowWeWork'">How we work</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/Recipes'">Inspiration</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/News'">News &amp; Events</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/Products'">Products</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/Products'">Packaging</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/Recipes'">Recipes</button></div>
                            <div class="row"><button class="btn linkButton"onclick="window.location.href='/Contact'">Contact</button></div>
                            <br />

                            <div class="infoVerstegen container">
                                <div class="row"><button class="btn linkButton">Verstegen &#8594;</button></div>
                                <div class="row"><button class="btn linkButton">About Verstegen &#8594;</button></div>
                                <div class="row"><button class="btn linkButton">Career &#8594;</button></div>
                                <div class="row"><button class="btn linkButton"onclick="window.location.href='/News'">News &#8594;</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="quickmenu">
        <div class="container">
            <div class="container">
                <div class="row header_menu_background">
                    <div class="col-sm-8 col-md-8 d-none d-sm-block header_button">
                        <button type="button" class="btn" id="header_industry_btn"onclick="window.location.href='/Products'">
                            Products
                        </button>
                    </div>
                    <div class="col-sm-4 col-md-4 header_button">
                        <button type="button" class="btn menuLogoColor menuText" id="menu_button_js">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-12 col-sm-12 menuHamburger">
                                        &#9776;
                                    </div>
                                    <div class="col-md-6 col-6 col-sm-6 d-none d-sm-block menuName">
                                        Menu
                                    </div>

                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row language_search">
                <div class="ls">EN</div>
                <div class="ls">NL</div>
                <div class="ls" id="search_searchIcon_js">&#128269;</div>
                <div class="ls" id="search_exitIcon_js">&#x2716;</div>
            </div>
        </div>
    </div>
    @{ if (ViewBag.ShowHeaderImg == true)
    {
    <div class="container-fluid">
        <div class="row img_space"></div>
        <div class="row title_space">
            <div class="col-12 col-md-12">
                <h1 id="bottomrow">@ViewData["HeaderTitle"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 headerarrow">
                <a href="#JumpTo">
                    &#8595;
                </a>
            </div>
        </div>
    </div>
    <div class="row" id="JumpTo"></div>
    }
    }
</div>
