<div class="container-fluid" id="headerBackgroundImageLayout" style="
        background-image: url(@ViewData["HeaderBackgroundImg"]);
     @{/*/images/spareribs.jpg*/ }
    ">

    <img id="titlelogo" src="~/images/verstegenLogo.png" alt="logo">
    <div class="container-fluid menu_desktop_position menu_desktop_above">
        <div class="row">
            <div class="col-md-6 col-sm-6 d-none d-sm-block"></div>
            <div id="menu_js" class="col-md-6 col-sm-6 col-12 menu_desktop_position">
                <div id="menu_content_js">

                    <!--Mobile Menu View-->
                    <div class="menu_layout container">
                        <div class="row FI_CloseButton">
                            <div id="foodIndustry" class="col-md-6 col-sm-6 col-6">
                                Food industry
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <img id="menu_exit_js" src="~/images/CloseMenu.png" alt="Close menu" />
                            </div>
                            <div class="d-none d-sm-block">
                            </div>
                        </div>
                        <br />
                        <div class="text-left menuLinks">
                            <div class="row"><button class="linkButton">Home</button></div>
                            <div class="row"><button class="linkButton">How we work</button></div>
                            <div class="row"><button class="linkButton">Inspiration</button></div>
                            <div class="row"><button class="linkButton">News &amp; Events</button></div>
                            <div class="row"><button class="linkButton">Products</button></div>
                            <div class="row"><button class="linkButton">Packaging</button></div>
                            <div class="row"><button class="linkButton">Recipes</button></div>
                            <div class="row"><button class="linkButton">Contact</button></div>
                            <br />
                            <div class="row">Verstegen &#8594;</div>
                            <div class="row">About Verstegen &#8594;</div>
                            <div class="row">Career &#8594;</div>
                            <div class="row">News &#8594;</div>
                        </div>
                    </div>

                    <!--Desktop Menu View-->
                    <div class="desktopMenu_layout container">

                    </div>

                </div>
            </div>
        </div>
    </div>

        <div id="quickmenu">
            <div class="container">
                <div class="container">
                    <div class="row header_menu_background">
                        <div class="col-sm-8 col-md-8 d-none d-sm-block header_button">
                            <button type="button" class="btn" id="header_industry_btn">
                                Food industry
                            </button>
                        </div>
                        <div class="col-sm-4 col-md-4 header_button">
                            <button type="button" class="btn menuLogoColor menuText" id="menu_button_js">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-12 col-sm-12 menuHamburger">
                                            &#9776;
                                        </div>
                                        <div class="col-md-6 col-6 col-sm-6 d-none d-sm-block menuName">
                                            Menu
                                        </div>
                                        
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row language_search">
                    <div class="ls">EN</div>
                    <div class="ls">NL</div>
                    <div class="ls">&#128269;</div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row img_space"></div>
            <div class="row title_space">
                <div class="col-12 col-md-12">
                    <h1 id="bottomrow">Enjoy great taste!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 headerarrow">
                    &#8595;
                </div>
            </div>
        </div>
    </div>
