<div class="container contactContact">
    <div class="row">
        <div class="col-md-12 HowToContact" id="regiontekst">Contact person for each region</div>
    </div>
    <div class="row">
        <div class="col-md-12 HowToContact"><h1>How can we help you?</h1></div>
    </div>
    <div class="row">
    <div class="col-md-2"><i>Select your region:</i></div>
    <div class="col-md-4">
        <select name="dropdownsize" id="dropdownsize">
            <option value="The Netherlands">The Netherlands</option>
            <option value="Belgium">Belgium</option>
            <option value="Germany">Germany</option>
            <option value="Cyprus">Cyprus</option>
        </select>
    </div>
    <div class="col-md-2"><i>Select country of province:</i></div>
    <div class="col-md-4">
        <select name="dropdownsize" id="dropdownsize">
            <option value="Noord-Holland">Noord-Holland</option>
            <option value="Zuid-Holland">Zuid-Holland</option>
            <option value="Zeeland">Zeeland</option>
            <option value="Brabant">Brabant</option>
            <option value="Limburg">Limburg</option>
            <option value="Gelderland">Gelderland</option>
            <option value="Drenthe">Drenthe</option>
            <option value="Overijssel">Overijssel</option>
            <option value="Groningen">Groningen</option>
            <option value="Friesland">Friesland</option>
            <option value="Flevoland">Flevoland</option>
            <option value="Utrecht">Utrecht</option>
        </select>
    </div>
     </div>
</div>
