<!DOCTYPE html>
@{ 
    string lang = "";
    if (ViewData["Language"] == null || ViewData["Language"].ToString() == "")
    {
        lang = "nl";
    } else
    {
        lang = ViewData["Language"].ToString();
    }
< a href = "~/Views/Shared/_Layout.cshtml" > ~/ Views / Shared / _Layout.cshtml </ a >
}
<html lang="@lang">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Shared.css" />
    <link rel="stylesheet" href="~/css/wsHeader.css" />
    <link rel="stylesheet" href="~/css/menuLooks.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/Categories.css" />
    <link rel="stylesheet" href="~/css/InTheSpotlight.css" />
    <link rel="stylesheet" href="~/css/Themes.css" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - WEBProject</title>
</head>
<body>

    <partial name="_CookieConsentPartial" />
    <partial name="_Header" />

    <div class="header_container">
        @RenderBody()
        <hr />
    </div>

    <partial name="_Footer" />

    @RenderSection("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/headerMenu.js"></script>
</body>
</html>
