<!DOCTYPE HTML>
@{ 
    string lang = "";
    if (ViewData["Language"] == null || ViewData["Language"].ToString() == "")
    {
        lang = "nl";
    } else
    {
        lang = ViewData["Language"].ToString();
    }
}
<html lang="@lang">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Shared.css" />
    <link rel="stylesheet" href="~/css/wsHeader.css" />
    <link rel="stylesheet" href="~/css/menuLooks.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/Categories.css" />
    <link rel="stylesheet" href="~/css/InTheSpotlight.css" />
    <link rel="stylesheet" href="~/css/Themes.css" />
    <link rel="stylesheet" href="~/css/Contacts.css" />
    <link rel="stylesheet" href="~/css/inspect.css" />
    <link rel="stylesheet" href="~/css/productDetails.css" />
    <link rel="stylesheet" href="~/css/Learnmore.css" />
    <link rel="stylesheet" href="~/css/ProductInspiration.css" />
    <link rel="stylesheet" href="~/css/CategoriesSideTab.css" />
    <link rel="stylesheet" href="~/css/T15container.css" />
    <link rel="stylesheet" href="~/css/SearchBox.css" />
    <link rel="stylesheet" href="~/css/SearchEngine.css" />
    <link rel="stylesheet" href="~/css/RecipePage.css" />
    <link rel="stylesheet" href="~/css/HowWeWork.css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=La+Belle+Aurore" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Verstegen</title>
</head>
<body>

    <partial name="_CookieConsentPartial" />
    <partial name="_Header" />

    <div>
        @RenderBody()
        <hr />
    </div>

    <partial name="_Footer" />

    @RenderSection("Scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="~/js/headerMenu.js"></script>
    <script src="~/js/CategoryFilter.js"></script>
    <script src="~/js/ImageReplace.js"></script>
    <script src="~/js/SearchBox.js"></script>
    <script src="~/js/Cookies.js"></script>
</body>
</html>
