<div class="container">
    <div class="container contacts_container-looks">

        <div class="contact_top">
            <div class="row" id="contact_profile">
                <div class="col-md-5">
                    <img src="~/images/Sir.png" id="contact_pic" />
                </div>
                <div class="col-md-7">
                    <b size="4">Jan van den Heijer</b>
                    Director Sales & Marketing Food Industry
                </div>
            </div>
        </div>

        <div class="contact_bottom">
            <div class="row" id="contact_r">
                <div class="col-md-2">
                    <img src="~/images/mb.png" id="contact_mbpic">
                </div>
                <div class="col-md-10">
                    <a href="tel:+316-22571514" id="contact_c1">+31(0)6-22571514</a>
                </div>
            </div>

            <div class="row" id="contact_r">
                <div class="col-md-2">
                    <img src="~/images/mail.png" id="contact_mbpic" />
                </div>
                <div class="col-md-10">
                    <a href="mailto:hhensen@verstegen.nl" id="contact_c1">hhensen@verstegen.nl</a>
                </div>
            </div>

            <div class="row" id="contact_r">
                <div class="col-md-2">
                    <img src="~/images/message.png" id="contact_mbpic" />
                </div>
                <div class="col-md-10">
                    <a href="sms:+316-22571514" id="contact_c1">Send a message</a>
                </div>
            </div>
        </div>
    </div>
</div>

