@model Employee_Profile
<div class="container-fluid">
    <div class="container contacts_container-looks">

        <div class="contact_top">
            <div class="row" id="contact_profile">
                <div class="col-md-5">
                    <img src='@Model.Profile_PhotoPath' id="contact_pic" />
                </div>
                <div class="col-md-7">
                    <b size="4">@Model.Name</b>
                    @Model.Job
                </div>
            </div>
        </div>

        <div class="contact_bottom">
            <div class="row" id="contact_r">
                <div class="col-md-2">
                    <img src="~/images/mb.png" id="contact_mbpic">
                </div>
                <div class="col-md-10">
                    <a href="tel:+316-22571514" id="contact_c1">[tel nummer]</a>
                </div>
            </div>

            <div class="row" id="contact_r">
                <div class="col-md-2">
                    <img src="~/images/mail.png" id="contact_mbpic" />
                </div>
                <div class="col-md-10">
                    <a href="mailto:hhensen@verstegen.nl" id="contact_c1">[mail adres]</a>
                </div>
            </div>

            <div class="row" id="contact_r">
                <div class="col-md-2">
                    <img src="~/images/message.png" id="contact_mbpic" />
                </div>
                <div class="col-md-10">
                    <a href="sms:+316-22571514" id="contact_c1">Send a message</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row contact_button_lineout">
        <a href="../Contact/Index"
        <div class="contact_button">All contacts</div>
        </a>
    </div>
</div>

