

    <script>
      function clickFunction(){
          var x = document.getElementById("c2");
            if (x.style.display === "none") {
             x.style.display = "block";
            } else {
            x.style.display = "none";
  }
      }
    </script>

    <div class="container c">
        <div class="row" id="r1">
            <div class="col-md-8 col-8 col-sm-8 ">
                <a href="https://www.google.nl/maps/place/Verstegen+Spices+%26+Sauces+B.V." target="_blank"> <input type="image" src="~/img/maps.png" id="sir"></a>
            </div>

            <div class="col-md-4 col-4 col-sm-4 ">
                <div><h4 class="Verstegen">Verstegen Spices & Sauces B.V.</h4></div>
                <div class="row" id="r2">
                    <div class="col-md-6 col-6 col-sm-6 " id="L">
                        <p>Head quarters</p>
                    </div>
                    <div class="col-md-6 col-6 col-sm-6" id="R">
                        <input type="image" src="~/img/min.png" class="mbpic" onclick="clickFunction()"></input>
                    </div>
                    <div class="container c2" id="c2">
                        <font class="row containerrow" size="2">Industrieweg 1061</font>
                        <font class="row containerrow" size="2">3044 AS Rotterdam</font>
                        <font class="row containerrow" size="2">The Netherlands</font>
                        <font class="row containerrow" size="2">BTW: NL0031199538B01</font>
                        <div class="container c3">
                            <div class="row midcontainerrow">
                                <div class="col-md-2 col-2 col-sm-2">
                                    <img src="~/img/mb.png" class="mbpic">
                                </div>
                                <div class="col-md-10 col-10 col-sm-10">
                                    <a href="tel:+316-22571514" id="c1">+31(0)6-22571514</a>
                                </div>
                            </div>
                            <div class="row midcontainerrow">
                                <div class="col-md-2 col-2 col-sm-2">
                                    <img src="~/img/mail.png" class="mbpic"></img>
                                </div>
                                <div class="col-md-10 col-10 col-sm-10">
                                    <a href="mailto:hhensen@verstegen.nl" id="c1">info@verstegen.nl</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container c4">
                        <div class="row bottomrows">
                            <div class="col-md-7 col-7 col-sm-7 ">Logistics center</div>

                            <div class="col-md-5 col-5 col-sm-5"><input type="image" src="~/img/plus.png" class="mbpic"></input></div>
                        </div>
                        <div class="row bottomrows" id="bottom2">
                            <div class="col-md-7 col-7 col-sm-7">Delivery of goods</div>

                            <div class="col-md-5 col-5 col-sm-5"><input type="image" src="~/img/plus.png" class="mbpic" id="pluslogo"></input></div>
                        </div>
                        <div class="row bottomrows">
                            <div class="col-md-7 col-7 col-sm-7">Verstegen Academy</div>

                            <div class="col-md-5 col-5 col-sm-5"><input type="image" src="~/img/plus.png" class="mbpic"></input></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>


