<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="/Subscription/subscribe" method="get" id="mailform">
                <input type="text" name="adress" id="email_input" placeholder="E-mail address">
                <button type="submit" form="mailform" value="Submit" id="submit-button">Subscribe</button>
            </form>
        </div>
        <div class="col-md-6">
            <form action="/Subscription/Unsubscribe" method="get" id="mailform2">
                <input type="text" name="adress" id="email_input" placeholder="E-mail address">
                <button type="submit" form="mailform2" value="Submit" id="submit-button">Unsubscribe</button>
            </form>
        </div>
    </div>
    <div class="row">
        @ViewBag.SubscriptionMessage
    </div>
</div>