@model Product_Text
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h1>Edit</h1>
    <form asp-action="Edit" method="post">
        <input type="hidden" name="TextID" value="@Model.TextID" />
        <input type="hidden" name="ArtNR" value="@Model.ArticleNumber" />
        New TextID:<input type="number" name="newTextID" />
        New ArticleNumber:<input type="number" name="newArtNR" />
        <input type="submit" value="Submit" />
    </form>
</div>
