<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/verstegenLogo.png" alt="image" id="inspectimage">
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <img src="~/images/Marinade.png" alt="image" class="inspectimg" id="imageReplace">
        </div>
    </div>
    <div class="row grayrow align-items-center justify-content-space-between">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <a href="#imageReplace" onclick="changeImage('/images/Marinade.png');"><img src="~/images/Marinade.png" id="inspectimage" /></a>
            <a href="#imageReplace" onclick="changeImage('/images/ProductImg.png');"><img src="~/images/ProductImg.png" id="inspectimage" /></a>
            <a href="#imageReplace" onclick="changeImage('/images/ProductImg2.png');"><img src="~/images/ProductImg2.png" id="inspectimage"/></a>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>
