@model List<Recipe>
<div class="container-fluid justify-content-center align-items-center inspiration-background">
    <div class="row justify-content-center align-items-center">
        <p> Recipes</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <h1> Some inspiration for you </h1>
    </div>
    <div class="row justify-content-center align-items-center">
        @foreach (Recipe element in Model)
        {
            <div class="col-md-6">
                <div class="thumbnail">
                    <a href="./Recipes/Index">
                        <img src='@element.RecipePhotos.ElementAt(0).Photo.PhotoPath' alt="Recipe_image" id="responsive">
                        <div class="inspiration_caption">
                            <p id="inspiration_title"> @element.TypeCategories.ElementAt(0).Type_Category.Name</p>
                            <p><b> @element.Name <b id="arrow">&#10132 </b></b> </p>
                            <p><small> @element.RecipeTexts.ElementAt(0).Text.Content</small></p>
                        </div>
                    </a>
                </div>
            </div>
        }

    </div>
    <div class="row justify-content-center align-items-center">
        <a href="../Recipes/Index">
            <div id="all_recipes"> All recipes &#10132 </div>
        </a>
    </div>
</div>
