<div class="container-fluid justify-content-center align-items-center inspiration-background">
    <div class="row justify-content-center align-items-center">
        <p> Recipes</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <h1> Some inspiration for you </h1>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="thumbnail">
                <a href="../Recipes/Index">
                    <img src="~/images/Meat.png" alt="Recipe_image" id="responsive">
                    <div class="inspiration_caption">
                        <p id="inspiration_title"> Meat</p>
                        <p><b> Coq au vin <b id="arrow">&#10132 </b></b> </p>
                        <p><small> With chicken and Grand verneursauce </small></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbnail">
                <a href="../Recipes/Index">
                    <img src="~/images/Meat.png" alt="Recipe_image" id="responsive">
                    <div class="inspiration_caption">
                        <p id="inspiration_title"> Meat</p>
                        <p><b> Potatoe dish <b id="arrow">&#10132 </b> </b></p>
                        <p><small> With chicken and Grand verneursauce </small></p>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row justify-content-center align-items-center">
        <a href="../Recipes/Index">
            <div id="all_recipes"> All recipes &#10132 </div>
        </a>
    </div>
</div>
