<div class="container-fluid greenBackground">
    <div class="row justify-content-flex-end align-items-center">
        <p> menu bar </p>
    </div>
    <div class="row justify-content-flex-start align-items-center">
        <p> Home &#62; Products &#62; </p>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1> Spicy Churasco </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a risus facilisis, ultrices felis id, ultricies risus. Nulla facilisi. Nulla vehicula, dolor eget finibus placerat, dolor diam commodo lorem, non commodo nunc nisl et est. </p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <p><b>Category </b> marinades &nbsp; <b> Contents </b> Drum 11 liter </p>
        </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <h2> Product Details </h2>
                </div>
                <div class="row" id="productRow">
                    <p> buiten koeling houdbaar </p>
                </div>
                <div class="row">
                    <p> dievries besteedbaar </p>
                </div>
                <div class="row" id="productRow">
                    <p> droog bewaren </p>
                </div>
                <div class="row">
                    <p> rood / bruine kleur </p>
                </div>
                <div class="row" id="productRow">
                    <p> geen tekening (glad) </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <i> looking for more specifications? </i>
        </div>
        <div class="col-md-6">
            <a href="~/pdf/Certificate.pdf" target="_blank" download>
                <div class="button"> Download specsheet </div>
            </a>
            
        </div>
    </div>
</div>

