<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <p id="smallFont"> Products</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <h2> Related Products</h2>
    </div>
    <div class="row justify-content-center align-items-center">
        @{
            List<WEBProject.Models.Product> lijst = ViewBag.relatedProducts as List<WEBProject.Models.Product>;


            for (int x = 0; x < lijst.Count() && x < 4; x++)
            {
                <div class="col-md-3">
                    <partial name="_Catalog" model="@lijst[x]" />
                </div>
            }
        }
    </div>
    <div class="row justify-content-center align-items-center">
        <a href="../Recipes/Index">
            <div class="red_button"> All products &#10132 </div>
        </a>
    </div>
</div>