<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/subHeader.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid ">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-3 align-items-center justify-content-center">
                <img src="http://placekitten.com/250/200" alt="image" id="responsive">
            </div>
            <div class="col-md-6 ">
                <h1 > the finest flavours for your products </h1>
                <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a risus facilisis, ultrices felis id, ultricies risus. Nulla facilisi. Nulla vehicula, dolor eget finibus placerat, dolor diam commodo lorem, non commodo nunc nisl et est. Nulla aliquet nibh ex, eget suscipit nibh tristique quis. Fusce vel risus ut orci consectetur iaculis. Sed aliquam suscipit dolor vel semper. Donec feugiat finibus nisl vel ultricies. Pellentesque id sapien eu turpis mattis molestie. Sed sed pretium ligula. Nunc mollis nulla auctor, fermentum leo nec, vehicula sem.</p>
            </div>
            <div class="col-md-3 align-items-center justify-content-center" >
                <div class="customMadeBackground" >
                    <h3 > custom made </h3>
                    <p > Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a risus facilisis, ultrices felis id, ultricies risus. Nulla facilisi.</p>
                    <form action="Recipes/Index">
                        <button class="subHeaderButton" formaction="../Recipes/Index">
                            <p> All products &#10132</p>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>