<div class="container-fluid SpecificProductContainers">
    <div class="row justify-content-flex-start">
        <h1> Contact us </h1>
    </div>
    <div class="WideContacts_container-looks">

        <div class="contact_top">
            <div class="row" id="contact_profile">
                <div class="col-md-5">
                    <img src="~/images/Sir.png" id="contact_pic" />
                </div>
                <div class="col-md-7">
                    <b size="4">Jan van den Heijer</b>
                    <p> Director Sales & Marketing Food Industry </p>
                </div>
            </div>
        </div>

        <div class="contact_bottom">
            <div class="row">
                <div class="col-md-5" id="contact_r">
                    <img src="~/images/mb.png" id="contact_mbpic">
                    <a href="tel:+316-22571514" id="contact_c1">+31(0)6-22571514</a>
                </div>
                <div class="col-md-5" id="contact_r">
                    <img src="~/images/mail.png" id="contact_mbpic" />
                    <a href="mailto:hhensen@verstegen.nl" id="contact_c1">hhensen@verstegen.nl</a>
                </div>
                <div class="col-md-5" id="contact_r">
                    <img src="~/images/message.png" id="contact_mbpic" />
                    <a href="sms:+316-22571514" id="contact_c1">Send a message</a>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="row contact_button_lineout">
        <button class="contact_button">All contacts</button>
    </div>
</div>

