@model PageContent
<partial name="_SubHeader" model="@Model.Pages[0]"/>
<div class="row">
    <div class="col-md-3">
        <partial name="_CategoriesSideTab" />
        <partial name="_SingleContact" model="@ViewBag.Contact"/>
    </div>
    <div class="col-md-9">
        @{
            List<Product> lijst = ViewBag.Products as List<Product>;
        }
        @if (lijst.Count() != 0)
        {
            @for (int x = 0; x < lijst.Count(); x = x + 3)
            {
                <div class="row">
                    @for (int i = 0; i < 3 && x + i < lijst.Count(); i++)
                    {
                        <div class="col-md-4">
                            <partial name="_Catalog" model="lijst[x + i]" />
                        </div>
                    };

                </div>
            };
         }
         else
         {
         <div class="row justify-content-center align-items-center">
            No products found :/
         </div>
         }
    </div>
</div>