@model Photo_News
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <h1>Edit</h1>
    <form asp-action="Edit" method="post">
        <input type="hidden" name="PhotoID" value="@Model.PhotoID" />
        <input type="hidden" name="NewsID" value="@Model.NewsID" />
        New PhotoID:<input type="number" name="newPhotoID" />
        New NewsID:<input type="number" name="newNewsID" />
        <input type="submit" value="Submit" />
    </form>
</div>
