@model List<Photo_News>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<a asp-action="Create">Create</a>

@foreach (Photo_News P in Model)
{
    <div class="row Admin_Flex">
        <form asp-action="Edit" method="get">
            <input type="hidden" name="PhotoID" value="@P.PhotoID" />
            <input type="hidden" name="NewsID" value="@P.NewsID" />
            <input type="submit" value="Edit" />
        </form>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="PhotoID" value="@P.PhotoID" />
            <input type="hidden" name="NewsID" value="@P.NewsID" />
            <input type="submit" value="Delete" />
        </form>
        <div>
            | NewsID:@P.NewsID | PhotoID:@P.PhotoID
        </div>
    </div>

}
