
    <div class="container aboutcontainer1">
        <div class="row aboutcreativerow">
            <div class="col-md-6 col-6 col-sm-6 col-xs-6" id="clm5">
                <img src="img/shiba.jpg" class="img-fluid shiba"></img>
            </div>

            <div class="col-md-6 col-6 col-sm-6 col-sm-6" id="clm6">
                <div class="row creativerows" style="size: 4" id="CP"><b>Company profile</b></div>
                <div class="row creativerows"><h1>Creative and surprising innovations</h1></div>
                <div class="row creativerows" style="size: 1" id="tekstcolor">our experts of the innovation team tells you about it. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis</div>
                <div class="row creativerows"><h4 id="facts">Facts</h4></div>
                <div class="row creativerows">
                    <div class="col-md-12 clm12" style="size: 1"><img src="img/rechtspijl.png" id="rechts">Family-owned business since 1886</img></div>
                    <div class="col-md-12 clm12" style="size: 1"><img src="img/rechtspijl.png" id="rechts">We work with local farmers to produce the purest herbs and spices</img></div>
                    <div class="col-md-12 clm12" style="size: 1"><img src="img/rechtspijl.png" id="rechts">We managed every step of the way ourselves, from transport to our in-house grinding and safe food processing</img></div>
                </div>
            </div>
        </div>
    </div>


