
    <div class="container sustain">
        <div class="row centerrow">
            <div class="col-md-8 col-8 col-sm-8 col-xs-8" id="flex1">
                <div class="col-md-6 col-6 col-sm-6 col-xs-6" id="titel">
                    <h1>Sustainability is a key aspect</h1>
                    <div id="tekst">Fuscue dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fementum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat portitor ligula. Eget lacinia odio sem nec elit. Nulam id dolor id nibh ultricies vehicula ut id elit. Aenean eu leo quam. Pellentesque omare sem lacinia quam venenatis vestibulum. Donec ullamcorper nulla non metus auctor fringilla.</div>
                </div>
            </div>
            <div class="col-md-4 col-4 col-sm-4 col-xs-4" id="flex">
                <div class="shibaa"><img src="img/shiba.jpg" class="img-fluid shiba"></img></div>
            </div>
        </div>
    </div>
    


