@model Recipe
<div class ="container-fluid">

    <div class="row header">
        <partial name="_Header" />
    </div>

    <div class="content container">
        <div class="row recipeIngredients">

        </div>
        <div class="img-responsive">

        </div>

        <div class="row instructions">

        </div>

        <div class="row note">

        </div>


    </div>

    <div class="row footer">
        <partial name="_Footer" />
    </div>





</div>
