@model Recipe
<div class ="container-fluid">
    <div class="content container">
      
        <div class="row">
            Title:
        </div>
        <div class="row">
            @Model.Name
        </div>

        <div class="row">
            <img src='@Model.RecipePhotos[0].Photo.PhotoPath' />
        </div>
    </div>
</div>
