@model List<NormalCategory_Product>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<a asp-action="Create">Create</a>

@foreach (NormalCategory_Product P in Model)
{
    <div class="row Admin_Flex">
        <form asp-action="Edit" method="get">
            <input type="hidden" name="CategoryID" value="@P.CategoryID" />
            <input type="hidden" name="ArtNr" value="@P.ArticleNumber" />
            <input type="submit" value="Edit" />
        </form>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="CategoryID" value="@P.CategoryID" />
            <input type="hidden" name="ArtNR" value="@P.ArticleNumber" />
            <input type="submit" value="Delete" />
        </form>
        <div>
            | CategoryID:@P.CategoryID | ArticleNumber:@P.ArticleNumber
        </div>
    </div>

}
