@model List<Text_News>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<a asp-action="Create">Create</a>

@foreach (Text_News P in Model)
{
    <div class="row Admin_Flex">
        <form asp-action="Edit" method="get">
            <input type="hidden" name="TextID" value="@P.TextID" />
            <input type="hidden" name="NewsID" value="@P.NewsID" />
            <input type="submit" value="Edit" />
        </form>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="TextID" value="@P.TextID" />
            <input type="hidden" name="NewsID" value="@P.NewsID" />
            <input type="submit" value="Delete" />
        </form>
        <div>
            | NewsID:@P.NewsID | TextID:@P.TextID
        </div>
    </div>

}